<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTP_HOST} ^desprotetor.com$ [OR]
  RewriteCond %{HTTP_HOST} ^desprotetor.net$ [OR]
  RewriteCond %{HTTP_HOST} ^www.desprotetor.net$
  RewriteRule (.*)$ http://www.desprotetor.com/$1 [R=301,L]
  
  # prevent requests in mail subdomain
  RewriteCond %{HTTP_HOST} mail\.(([^\.]+)) [NC]
  RewriteRule ^(.*)$ https://www.desprotetor.com/$1 [L,R=301]

</IfModule>

Header add Link '</static/style.css>; rel=preload; as=style'
Header add Link '</static/jquery-1.9.1.min.js>; rel=preload; as=script'
Header add Link '</static/facebox-simpletip.js>; rel=preload; as=script'
Header add Link '</static/sprite.png>; rel=preload; as=image'
Header add Link '</static/fundo.png>; rel=preload; as=image'