html, body {height: 100%;}
* { padding:0; margin:0; }
body {
    font-family:"Helvetica Neue", Arial, sans-serif;
    font-size:13px;
    color:#555;   
}
h1,h2,h3,h4,h5,h6,input,select,option,textarea {
    font-size:13px;
    font-family:"Helvetica Neue", Arial, sans-serif;    
}
ul {
    list-style:none;
}
img {
    border:0;
}
.hr { clear:both; float:none; }
.hr hr { display:none; }
a {
    text-decoration:none;
    color:#69f;
    outline:none;    
}
a:hover {
    color:#4D81B3;
}

fieldset {
  border-width: 0;
  margin: 0;
  padding: 0;
}
/*
    end resets
*/

body {
  background: #F6F5FC url(fundo.png) repeat-x scroll 0 0;
}

.tooltip{ 
font-family:"Helvetica Neue", Arial, sans-serif;
font-size:9pt;
color: #888888;
position: absolute; 
top: 0; 
left: 0; 
z-index: 300; 
display: none;
float: none;
text-align: left;
background-color: #D2D3EC;  
border-bottom: 0px;
padding: 15px;
border: 1px solid #6B6DDA;
}


.defaultText {
  font-family:"Helvetica Neue", Arial, sans-serif; 
  font-size:9pt;
  font-weight:bold;
  background-color:336699;
  border-color:336699;
  border-style:inset;
  border-width:2px;
  color:#888888;
}

.defaultTextarea {
  font-family:"Helvetica Neue", Arial, sans-serif; 
  font-size:16px;
  font-weight:bold;
  background-color:336699;
  border-color:336699;
  border-style:inset;
  border-width:2px;
  color:#888888;
  width: 580px;
  height: 175px;
  border: 1px solid #CCCCCC;
  padding: 5px 10px;  
}

.defaultTextActive { font-family:"Helvetica Neue", Arial, sans-serif;  color: #c1c1c1; }



#container {
    width:1000px;
    margin:0 auto;
    padding: 0 15px;
}


.inputBoxContainer  {
    float:left;
}



.submitButtonBackground {
    border:0;
    background:url(botao.png) no-repeat 0 0;
    width:100px;
    height:30px;
    font-size:13px;
    color:white;
    cursor:pointer;
}



.resultsBarContainer {
    position:relative;
    clear:both;
    float:none;
    height:28px;
    background-color: #F1F1F1;
/*    margin:13px 0 5px;*/
    
}

.resultsBarContainer b {
  position:absolute;
  bottom:0;
  color:#555;
  font-weight:normal;
  line-height: 28px;
  
}

.resultsBar1 {
    /*width:80px;*/
    padding-left: 25px;
    width: 55px;
}

.resultsBar2 {
    width:600px;
    left:90px;
}

.resultsBar3 {
    width:90px;
    left:700px;
}

.resultsBar4 {
    width:90px;
    left:800px;
}

.resultsBar5 {
    width:70px;
    left:900px;
}

.resultsContainer {
    position:relative;
    padding-top:20px;
    border-top: 1px solid #DDD;
    clear:both;
    position:relative;
    float:none;  
    background-color:white;
    /*padding:10px 20px 20px;
    border:1px solid #ccc;*/
}

#results {
    position:relative;
}

/*unauth homepage*/

#container { 
  min-height: 100%;
}

#header { 
  text-align: center;
  padding-top: 90px;
  height: 120px;
  margin-bottom: 0;  
}

#monstro {
  background: transparent url(monstro.png) no-repeat scroll center center;
  height: 413px;
  width: 599px;
  margin: 0 auto;
  display: block;
  text-indent: -9999px;
  float: none;
}


#logo {
  background: transparent url(logo.png) no-repeat scroll center center;
  height: 57px;
  width: 315px;
  /*margin: 0 auto;*/
  display: block;
  text-indent: -9999px;
  float: none;
  position: relative;
  top: 40px;
  left: 80px;
}

#middle {  
  /*overflow: auto;*/
  /*min-height: 425px;*/
}

#middle_inner {  
  min-height: 400px;
  margin-bottom: 10px;
}

#middleLevelContainer1 {
  text-align: center;
  width: 100%;
  /*min-height: 295px;*/
  /*padding-bottom: 200px;*/
  margin-bottom: 10px;
  position: relative;
}


.maincontainer {
  width: 790px;
  padding: 25px;
  margin: 0 auto;
  float: none;
  text-align: left;
  background-color: #E2E3F7;    
  position: relative;
  z-index: 51;  
}

.maincontainermulti {
  width: 790px;
  height: 180px;
  padding: 25px;
  margin: 0 auto;
  float: none;
  text-align: left;
  background-color: #E2E3F7;    
  position: relative;
  z-index: 51;  
}

#deprotectedcontainer {
  display: none;
  width: 810px;
  padding: 15px;
  margin: 0 auto;
  float: none;
  text-align: left;
  background-color: #D2D3EC;  
  border-bottom: 0px;
  position: relative;
  z-index: 51;  
}

#bottombox {
  width: 790px;
  padding: 25px;
  margin: 0 auto;
  float: none;
  text-align: left;
  background-color: #6B6DDA;  
  line-height: 70px;
  height: 70px;
  color: #FFF;
  font-size: 22px;
  position: relative;
}

.ajuda {
  width: 840px;  
  margin: 0 auto;
  float: none;
  text-align: right;      
  color: #FFF;
  font-size: 9px;
  margin-bottom: 5px; 
  position: relative;
}

.orangebar {
  width: 840px;
  height: 3px;
  margin: 0 auto;
  float: none;
  text-align: left;
  background-color: #F1902C;    
  position: relative;
}

.formActionContainer {
  padding: 0;
}

#maininputcontainer {
    margin-right: 120px;
    width: 500px;
}

#maininputcontainer input {
    border:1px solid #ccc;
    font-size:16px;    
    background:#fff;
    width:580px;
    padding:5px 10px 5px;
    height:19px; 
    float: left;
}



#deprotectbutton {
  float: left;
  /*margin-right: 15px;*/
}

#f1 {
  height: 30px;
  line-height: 30px;
}

.inputbox {
  float: left;
  line-height: 30px;
  width: 100%;
}

.inputbox a {
  float: left;
  line-height: 30px;
}

#morelinks {
  position: relative;
  text-align: center;
  width: 89px;
  margin-right: -15px;
  z-index: 51;  
  text-indent: -17px;
}
